.container {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(/backgroundcode.png);
    opacity: .4;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.main {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  padding: 37px;
  text-align: center;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
  border: 3px solid #f1f1f1;
}

.imagestyle{
  border-radius: 10%;
}


@media (max-width: 600px) {
  .main {
    width: 100%;
    flex-direction: row;
  }
}
