.container {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(/backgroundcode.png);
    opacity: .4;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
}




@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
