.container {
  position: relative;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0, 0.4);
}

.container:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(/backgroundcode.png);
    opacity: .4;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.main {
  padding: 2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
}
.column {
  float: left;
  width: 20%;
  padding: 23px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.iconStyle {
    font-size: 50px;
}




@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
